{% extends 'index.html' %}


{% block searchResults %}

{% if files_data['files'] and query_found %}
<!--To help colour text - only works for python rn but can add more scripts for other languages -->
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-python.min.js"></script>




<div class="flex flex-col h-screen overflow-hidden">
    <div class="flex-1 overflow-y-auto p-4 space-y-4">

        <p>Here are your search results on {{ files_data['repoName'] }}.</p>

        {% for file_data in files_data['files'] %}

        <div id="1file-result" class="flex-1 overflow-y-auto p-4">

            <form action="/" method="POST" id="generate-pseudo-{{ loop.index }}">
                <input type="hidden" name="form_name" value="generate_pseudo">
                <input type="hidden" name="index" value="{{ loop.index }}">
                <input type="hidden" name="status" value="{{ file_data['generate_pseudo'] }}">

                <button id="dropdown-toggle-{{ loop.index }}" type="button"
                    style="display: inline-flex; align-items: center;" data-form-id="generate-pseudo-{{ loop.index }}"
                    class="dropdown-toggle w-full text-left focus:outline-none">
                    {{ file_data['filename'] }} ▼

                    <svg class="animate-spin h-5 w-5 text-gray-500 hidden" xmlns="http://www.w3.org/2000/svg" fill="none" style="margin-left: 8px; width: 1em; height: 1em; fill: currentColor;"
                        viewBox="0 0 24 24" id="refresh-icon-{{ loop.index }}">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                        </circle>
                        <path class="opacity-75" fill="currentColor"
                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                        </path>
                    </svg>
                </button>
            </form>

            <div id="toggle-content-{{ loop.index }}"
                class="toggle-content gap-4 grid grid-cols-2 mt-4 min-h-40 max-h-screen p-2 {{ 'visble' if file_data['is_toggled'] == 'true' else 'hidden'}}"
                data-hidden-value="{{ file_data['is_togged'] }}">
                <div id="code-content-{{ loop.index }}" class="overflow-y-auto p-2 min-h-40 max-h-96">
                    <pre>
                    <code class="language-python"> {{ file_data['code'] | safe }} </code>
                    </pre> 
                    <!-- {{ file_data['code'] | replace('\n', '<br>') | replace('\t', '&nbsp;&nbsp;&nbsp;&nbsp;') | safe }}-->
                </div>
                <div id="pseudo-content-{{ loop.index }}" class="overflow-y-auto p-2 min-h-40 max-h-96">
                    {{ file_data['pseudo'] | replace('\n', '<br>') | safe }}
                </div>
            </div>

        </div>

        {% endfor %}
    </div>
</div>

{% elif query_found %}
<div class="flex flex-col items-center justify-center h-screen">
    <p class="text-4xl text-center font-bold text-neutral-950 mb-4 drop-shadow-lg"> Welcome to CodeGPT</p>
    <p id='typed-text' class="text-xl text-center font-medium text-neutral-800 drop-shadow-md"></p>
</div>


{% else %}
<p class="m-4">No files found from repository or invalid repository link. Please try again with a different link</p>
{% endif %}

{% endblock %}

{% block additional_scripts %}

<script>

    const text_element = document.getElementById("typed-text");
    const text = "How can we help you today?";
    let index = 0;

    function type_text() {
        
        while (index < text.length) {
            text_element.innerHTML += text[index];
            index++;
            setTimeout(type_text, 10000);
        }
    }
    

    window.onload = () => {
        text_element.innerHTML = '';
        index = 0;
        type_text();
        
    }


    
    document.addEventListener('DOMContentLoaded', function() {
        const dropdownButtons = document.querySelectorAll('.dropdown-toggle');

        dropdownButtons.forEach(button => {
            button.addEventListener('click', function() {
                
                const formId = this.getAttribute('data-form-id');
                const form = document.getElementById(formId)
                const index = form.querySelector('input[name="index"]').value;

                document.getElementById(`refresh-icon-${index}`).classList.remove('hidden');

                form.submit();
            })
        })
    })
</script>

{% endblock %}

<!-- <script>
    document.addEventListener("DOMContentLoaded", function () {
        const dropdownButtons = document.querySelectorAll('.dropdown-toggle');

        dropdownButtons.forEach(button => {
            button.addEventListener('click', function () {
                const formId = this.getAttribute('data-form-id');
                const form = document.getElementById(formId);
                
                const index = form.querySelector('input[name="index"]');

                if (document.getElementById(`toggle-content-${index}`).getAttribute('data-hidden-value') === 'true') {
                    document.getElementById(`toggle-content-${index}`).classList.remove('hidden');
                } else {
                    document.getElementById(`toggle-content-${index}`).classList.add('hidden');
                }

                const toggleContent = form.nextElementSibling;
                toggleContent.classList.toggle('hidden');

                const isHidden = toggleContent.classList.contains('hidden');
                const fileName = this.textContent.split(' ')[0];
                this.textContent = isHidden ? `${fileName} ▼` : `${fileName} ▲`;

                const form_status = form.querySelector('input[name="status"]');
                console.log(`${formId}:`)
                console.log(form)
                console.log(form_status)
                console.log(form_status.value)
                if (form && form_status.value === 'false') {
                    form.submit();
                    console.log(`Form ${formId} submitted!`);
                } else if (form && form_status.value === 'true') {
                    console.log(`Form ${formId} submitted previously`);
                } else {
                    console.warn(`Form with ID ${formId} not found.`);
                }
            });
        });
    });

    // window.onload = function() {
    //     const observer = new MutationObserver(mutations => {
    //         mutations.forEach(mutation => {
    //             const generate_pseudo = document.getElementById(generate-pseudo);
    //             if (generate_pseudo) {
    //                 generate_pseudo.submit();
    //             }

    //         });
    //     });
    // };
</script> -->