<!--To help colour text - only works for python rn but can add more scripts for other languages -->
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-python.min.js"></script>

<!-- prism.js -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/prism.css') }}">
<script src="{{ url_for('static', filename='js/prism.js')}}"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap">
<link rel="preconnect" href="{{ url_for('static', filename='css/searchResults.css') }}">

{% extends 'index.html' %}


{% block searchResults %}

{% if files_data['files'] %}
<div class="flex flex-col h-screen overflow-hidden">
    <div class="flex-1 overflow-y-auto p-4 space-y-4">

        <p>Here are your search results on {{ files_data['repoName'] }}.</p>

        {% for file_data in files_data['files'] %}
        <div id="file-result" class="flex-1 overflow-y-auto p-4">
            <form action="/gen_pseudo" method="POST" id="generate-pseudo-{{ loop.index }}">
                <input type="hidden" name="form_name" value="generate_pseudo">
                <input type="hidden" name="index" value="{{ loop.index }}">
                <input type="hidden" name="status" value="{{ file_data['generate_pseudo'] }}">
                <button id="dropdown-toggle-{{ loop.index }}" type="button"
                    style="display: inline-flex; align-items: center;" data-form-id="generate-pseudo-{{ loop.index }}"
                    class="dropdown-toggle w-full text-left focus:outline-none">
                    {{ file_data['filename'] }} {% if file_data['is_toggled'] == 'true'%} ▲ {% else %} ▼ {% endif %}
                    <svg class="animate-spin h-5 w-5 text-gray-500 hidden" xmlns="http://www.w3.org/2000/svg"
                        fill="none" style="margin-left: 8px; width: 1em; height: 1em; fill: currentColor;"
                        viewBox="0 0 24 24" id="refresh-icon-{{ loop.index }}">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                        </circle>
                        <path class="opacity-75" fill="currentColor"
                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z" />
                    </svg>
                </button>
            </form>

            <div id="toggle-content-{{ loop.index }}"
                class="toggle-content overflow-y-auto gap-1 mt-4 min-h-40 max-h-screen p-2 {{ 'visible' if file_data['is_toggled'] == 'true' else 'hidden'}}"
                data-hidden-value="{{ file_data['is_toggled'] }}">
                <div id="1line-content-index{{ i }}" class="items-start pb-10">
                    <div class="flex items-start space-x-4">
                        <div class="w-3/5">
                            <pre class="code-block"><code style="font-size: 0.8rem" class="language-{{ file_data['language'] }}">{% for i in range(file_data['code']|length) %}{{ file_data['code'][i] }}{% endfor %}</code></pre>
                        </div>

                        <div class="w-2/5">
                            <pre class="text-block"><code style="font-size: 0.8rem" class="language-plaintext">{% for i in range(file_data['code']|length) %}{{ file_data['pseudo'][i] }}{% endfor %}</code></pre>
                        </div>
                    </div>
                </div>
        

                
                <!-- {% for i in range(file_data['code']|length) %}
                <div id="1line-content-index{{ i }}" class="grid grid-cols-5 items-center pb-10">
                    <pre class="code-block col-span-4"><code style="font-size: 0.8rem; padding: 0.5rem;" class="language-{{ file_data['language'] }} px-4">{{ file_data['code'][i] }}</code></pre>
                    <p class="text-block col-span-1 px-2">{{ file_data['pseudo'][i] }}</p>
                </div>
                {% endfor %} -->
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% else %}
<p class="m-4">No files found from repository or invalid repository link. Please try again with a different link</p>
{% endif %}

{% endblock %}

{% block searchResults_scripts %}

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var options = {
            strings: ["What can I help with?"],
            typeSpeed: 50, // Adjust typing speed (milliseconds per character)
            backSpeed: 25, // Adjust backspacing speed if needed
            loop: false,   // Set to true if you want the typing to loop
            showCursor: false, // Display the cursor
            cursorChar: '|',  // Character for cursor
        };

        var typed = new Typed('#typed-text', options);
    });

    document.addEventListener('DOMContentLoaded', function () {
        const dropdownButtons = document.querySelectorAll('.dropdown-toggle');

        dropdownButtons.forEach(button => {
            button.addEventListener('click', function () {

                const formId = this.getAttribute('data-form-id');
                const form = document.getElementById(formId)
                const index = form.querySelector('input[name="index"]').value;

                document.getElementById(`refresh-icon-${index}`).classList.remove('hidden');

                form.submit();
            })
        })
    })
</script>

{% endblock %}

<!-- <script>
    document.addEventListener("DOMContentLoaded", function () {
        const dropdownButtons = document.querySelectorAll('.dropdown-toggle');

        dropdownButtons.forEach(button => {
            button.addEventListener('click', function () {
                const formId = this.getAttribute('data-form-id');
                const form = document.getElementById(formId);
                
                const index = form.querySelector('input[name="index"]');

                if (document.getElementById(`toggle-content-${index}`).getAttribute('data-hidden-value') === 'true') {
                    document.getElementById(`toggle-content-${index}`).classList.remove('hidden');
                } else {
                    document.getElementById(`toggle-content-${index}`).classList.add('hidden');
                }

                const toggleContent = form.nextElementSibling;
                toggleContent.classList.toggle('hidden');

                const isHidden = toggleContent.classList.contains('hidden');
                const fileName = this.textContent.split(' ')[0];
                this.textContent = isHidden ? `${fileName} ▼` : `${fileName} ▲`;

                const form_status = form.querySelector('input[name="status"]');
                console.log(`${formId}:`)
                console.log(form)
                console.log(form_status)
                console.log(form_status.value)
                if (form && form_status.value === 'false') {
                    form.submit();
                    console.log(`Form ${formId} submitted!`);
                } else if (form && form_status.value === 'true') {
                    console.log(`Form ${formId} submitted previously`);
                } else {
                    console.warn(`Form with ID ${formId} not found.`);
                }
            });
        });
    });

    // window.onload = function() {
    //     const observer = new MutationObserver(mutations => {
    //         mutations.forEach(mutation => {
    //             const generate_pseudo = document.getElementById(generate-pseudo);
    //             if (generate_pseudo) {
    //                 generate_pseudo.submit();
    //             }

    //         });
    //     });
    // };
</script> -->