

{% extends 'index.html' %}


{% block starting %}

<div class="flex flex-col items-center justify-center h-screen">
    <p class="text-4xl text-center font-bold text-neutral-950 mb-4 drop-shadow-lg">Welcome to CodeGPT</p>
    <p id="typed-text" class="text-xl text-center font-medium text-neutral-800 drop-shadow-md"
        style="font-family: 'Noto Sans', sans-serif;"></p>
</div>

{% endblock %}


{% block starting_scripts %}
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var options = {
            strings: ["What can I help with?", "How can I help?"],
            typeSpeed: 50, // Adjust typing speed (milliseconds per character)
            backSpeed: 25, // Adjust backspacing speed if needed
            loop: false,   // Set to true if you want the typing to loop
            showCursor: false, // Display the cursor
            // cursorChar: '|',  // Character for cursor
        };

        var typed = new Typed('#typed-text', options);

    });
</script>
{% endblock %}